@tailwind base;

@tailwind components;

@tailwind utilities;

/* 
sass syntax via postcss/precss plugin
*/

$bpTablet: 768px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* h1 {
  position: absolute;
  left: -9999px;
} */

.background-cover {
  @apply h-full bg-center bg-cover bg-no-repeat;
}

.grid {
  display: grid;  
}

.grid-two-columns {
  @apply grid-cols-1 gap-4;
  @media screen and (min-width: $bpTablet) {
    @apply grid-cols-2;
  }
}
